---
title: Hello World
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.png", :class => 'gitlab_logo', :alt => 'GitLab Logo' %>
  </div>
  <h1>Hello World!</h1>
  <!-- <h1>We are live on <a href="https://about.gitlab.com/gitlab-com/" target="_blank">GitLab Pages</a>!</h1> -->
  <p class="doc">
    <%= link_to "Home", "/middleman/", target: "_self" %>
    <%= link_to "Fork Me on GitLab", "https://gitlab.com/middleman-themes/middleman", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
