---
title: Middleman 4 on GitLab Pages
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg", :alt => 'Middleman Logo' %>
  </div>
  <h1>Middleman 4 on <a href="https://about.gitlab.com/gitlab-com/" target="_blank">GitLab</a></h1>
  <p class="doc">
    <%= link_to "Hello World", "/middleman/hello-world/", target: "_self" %>
    <%= link_to "Middleman App", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
